# Production Backend API URL (or http://localhost:5000/api/v1 for local testing)
VITE_API_BASE_URL=https://api.techcrm.cc/api/v1

# Firebase Push Notification Keys (Optional)
VITE_FIREBASE_API_KEY=AIzaSyBseyWQJeqs6wrHRSX40OcTVMSoQCfRlss
VITE_FIREBASE_AUTH_DOMAIN=tt-crm-f6a6c.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=tt-crm-f6a6c
VITE_FIREBASE_STORAGE_BUCKET=tt-crm-f6a6c.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=833472295992
VITE_FIREBASE_APP_ID=1:833472295992:web:2822bf9709d1e43eb8a2cd
VITE_FIREBASE_VAPID_KEY=BEYWKVaEPo-3aPv2Ala9j_WVrOkPrVA9U_NTelblUF-r6j_hEbSosMfn0yRMjJjGlUPPrcqweaqx-cksKh6kjiQ
